.ingredientList {
    margin-bottom: 1em;
}

.ingredientInput{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.qntIngredientInputLabels, .qntIngredientInput {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 1em;
    width: 100%;
}

.qntIngredientInputLabels label {
    padding: 0;
    margin: 0;
    text-align: left;
}

.ingredientQnt, .ingredientMsr, .ingredientAutocomplete {
    width: 100%;
}

.ingredientAutocomplete {
    position: relative;
}

.autocompleteList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid var(--background-color2);
    border-radius: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
}

.autocompleteList li {
    padding: 0.5em;
    cursor: pointer;
}

.autocompleteList li:hover {
    background-color: #eee;
}

.ingredientButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    margin-bottom: 2em;
}

.ingredientButtons > button {
    background-color: var(--background-color2);
    color: var(--text-color);
    padding: 0.5em;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
}

.ingredientButtons > button:hover {
    background-color: var(--yellow-hover);
    transition: 0.3s;
}

.addIngredientButton {
    width: 100%;
}

#createIngredientButton {
    align-self: flex-end;
    border: none;
    background-color: transparent;
    width: fit-content;
    padding: 0;
    text-align: right;
    text-decoration: underline;
    color: var(--highlights-color);
}

#createIngredientButton:hover {
    opacity: 0.8;
}