.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #FFD230;
    border-radius: 0px 0px 10px 10px;
}

.navBarTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
    color: black;
    font-family: "Caprassimo", cursive;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 10px;
}

.navBarTitle img {
    width: 100px;
    height: auto;
    margin-left: 35px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 15px;
}

.link {
    text-decoration: none;
    color: white;
    font-family: "Caprassimo";
    font-weight: bold;
    font-size: 1.3em;
    padding: 10px;
}

.link:hover,
.link.active {
    color: #AC6508;
    transition: color 0.25s ease, background-color 0.25s ease;
}

@media only screen and (max-width: 992px) {
    .container {
        padding: 5px;
    }

    .navBarTitle {
        gap: 5%;
        flex-wrap: wrap;
    }

    .navBarTitle h1 {
        font-size: clamp(1.5rem, 4vw, 2.5rem);
    }

    .image img {
        min-width: 60px;
        max-width: 100px;
        width: 30%;
        height: auto;
        margin-left: 5%;
    }

    .links {
        flex-wrap: wrap;
        gap: 5px;
        margin-right: 5px;
    }

    .link {
        font-size: clamp(1.1rem, 3vw, 1.3rem);
    }
}