.recipeForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    width: 80vw;
    max-width: 1000px;
    margin: 3em auto;
    text-align: left;
}

.imgContainer{
    width: 50%;
    border-radius: 15px;
}

.imgContainer img {
    background-color: var(--background-color2);
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    padding: 2em;
}

.recipeForm form {
    width: 50%
}

input:focus, textarea:focus, select:focus {
    border: 1px solid var(--highlights-color);
}

.recipeSubmitButton {
    background-color: var(--highlights-color);
    color: var(--background-color1);
    padding: 0.5em;
    border: 1px solid transparent;
    border-radius: 10px;
    width: 90%;
    cursor: pointer;
    height: 40px;
    transition: transform 0.15s ease;
}

.recipeSubmitButton:hover {
    background-color: #5f3805;
    transition: 0.3s;
    transform: scale(1.1);
}