:root {
    --text-color: #000000;
    --background-color1: #FFFFFF;
    --background-color2: #FFD230;
    --highlights-color: #AC6508;
    --link-color: #3043FF;
}

.recipeForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    width: 80vw;
    max-width: 1000px;
    margin: 3em auto;
    text-align: left;
}

.imgContainer{
    width: 50%;
    border-radius: 15px;
}

.imgContainer img {
    background-color: var(--background-color2);
    width: 100%;
    height: auto;
    max-height: 500vh;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    padding: 2em;
}

.recipeForm form {
    width: 50%
}

.recipeInput {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 1em 0;
}

.recipeInput label {
    width: 100%
}

.recipeInput input, .recipeInput textarea {
    padding: 1em;
    border: 1px solid var(--background-color2);
    border-radius: 10px;
    width: 100%;
}

.recipeInput textarea {
    height: 7em;
    min-width: 100%;
    resize: none;
    overflow-y: auto;
}

.recipeSelect {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;
}

.recipeSelect select {
    border: 1px solid var(--background-color2);
    width: 70%;
    border-radius: 10px;
    padding: 1em;
    margin: 0.5em 0;
}

.recipeInputPreparo {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 1em 0;
}

.recipeInputPreparo input {
    max-width: 7em;
    padding: 1em;
    border: 1px solid var(--background-color2);
    border-radius: 10px;
}

.inputRecipe input:focus, .inputSelect select {
    border: 1px solid var(--highlights-color);
}

.ingredientInput{
    display: flex;
    width: 90%;
}

.qntIngredientInput {
    width: 40%;
}