@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --text-color: #000000;
  --background-color1: #FFFFFF;
  --background-color2: #FFD230;
  --highlights-color: #AC6508;
}

body {
  background-color: var(--background-color1);
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--text-color);
  height: 100vh;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  font-family: "Caprasimo", serif;
}

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 1.8rem;
}

.formContainer{
  display: flex;
  width: 50vw;
  max-width: 800px;
  margin: 2em auto;
  border-radius: 15px;
}

.formContainer h2 {
  margin-top: 1em;
}

.formImg{
  width: 50%;
  border-radius: 15px 0 0 15px;
}

.errorMessage, .successMessage {
  min-height: 1em;
}

.errorMessage {
  color: red;
}

.successMessage {
  color: green;
}

.loginSignUpForm{
  background-color: var(--background-color2);
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
  padding: 2em;
  border-radius: 0 15px 15px 0;
}

.input {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.input input{
  padding: 0.5em;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 100%;
}

.input input:focus{
  border: 1px solid var(--highlights-color);
}

.submitButton {
  margin: 4em 0 2em;
  width: 50%;
}

.submitButton button {
  background-color: var(--highlights-color);
  color: var(--background-color1);
  padding: 0.5em;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}