@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --text-color: #000000;
  --background-color1: #FFFFFF;
  --background-color2: #FFD230;
  --highlights-color: #AC6508;
  --link-color: #3043FF;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color1);
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--text-color);
}

h1, h2, h3, h4 {
  font-family: "Caprasimo", serif;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}